.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.images_main {
  border-radius: 30px;
  width: 100%;
}

.previews {
  display: flex;
  gap: 16px;
}

.previews_item {
  border-radius: 18px;
  width: 25%;
}
