.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  align-items: center;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.images_main {
  border-radius: 16px;
  width: 100%;
}

.previews {
  display: flex;
  gap: 16px;
}

.previews_item {
  border-radius: 18px;
  width: 25%;
}

.collection {
  color: var(--clr-orange);
  text-transform: uppercase;
  font-size: 0.75rem;
}

.name {
  margin-top: .5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
}

.description {
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--clr-dark-blue);
}

.price {
  margin-top: 1rem;
  margin-bottom: .4rem;
  display: flex;
  align-items: center;
  gap: 24px;
}

.price_value {
  font-weight: 700;
  font-size: 1.6rem;
}

.price_discount {
  color: var(--clr-orange);
  background-color: var(--clr-pale-orange);
  font-weight: 700;

  padding: 6px;
  border-radius: 4px;
}

.old_price {
  font-weight: 700;
  text-decoration: line-through;
  color: var(--clr-dark-grayish-blue);
}

.action {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--clr-light-grayish-blue);
}

.amount_decrease,
.amount_increase {
  color: var(--clr-orange);
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 700;
}

.amount_value {
  font-weight: 700;
}

.action_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  background-color: var(--clr-orange);
  color: var(--clr-white);

  padding: 8px 16px;
  border-radius: 8px;

  cursor: pointer;
}

.action_btn path,
.action_btn path {
  fill: var(--clr-white);
}

.btn_text {
  font-weight: 700;
}
